$black: #000;
$chinese-black: #161616;
$white: #fff;
$background: #fff7ed;
$tundora: #4d4d4d;
$mine-shaft: #252525;
$silver-chalice: #aaa;
$primary: #ff8c38;
$primary-dark: #ffcc8d;
$secondary: #ffead0;
$teracotta: #e17654;
$eden: #115e59;
$gray: #858585;
$mischka: #d1d5db;
$frangipani: #ffddb2;

$font-inter: "Inter", sans-serif;

$base-font: 16px;
$xl-font: 48px;
$h1-font: 36px;
$h2-font: 32px;
$h3-font: 26px;
$h4-font: 24px;
$h6-font: 20px;
$s-font: 18px;
$xs-font: 14px;

$fw-500: 500;
$fw-600: 600;
$fw-700: 700;
$fw-800: 800;
