.vans-container {
  .container {
    .filter-section {
      margin-top: 20px;
    }
    .vans-cards {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 40px;
      padding: 80px 0;
    }
  }
}
